// customize bootstrap variables here:
@import "variables";
@import "bootstrap";
@import "icon";



.page-header {
  margin: 0;
  background-color: rgba(255,255,255,0.6);
}


.navbar-default {
  background-color: rgba(255, 255, 255, 0.9);
}




//
// page-top
// --------------------------------------------------

#page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 77%;
}
#page-top a {
    background: rgba(102, 102, 102, 0.72);
    text-decoration: none;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: block;
    border-radius: 5px;
}
#page-top a:hover {
    text-decoration: none;
    background: rgba(37, 37, 37, 0.72);
}

//
// nav
// --------------------------------------------------

.table-nav {
    margin-left: auto;
    margin-right: auto;
}

.fixed {
    position: fixed;
    width: 1168px;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
}

//
// footer new
// --------------------------------------------------

.container-foot {
  background-color: $brand-primary;
  margin-top: 15em;

  p {
    color: #fff;
    font-size: 80%;
    margin: 10px 0;;
  }

  }

//
// Jumbotron　打ち消し
// --------------------------------------------------

.jumbotron2,
.jumbotron {
  background: url("head--search.jpg");
  background-size: 1270px;
  background-color: #FFF;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 330px;
  margin-bottom: 0;
  padding-top: 100px;
  margin-top: -60px;

  h1,
  .h1 {
    color: $brand-primary;
    font-size: 170%;
    font-weight: bold;
    text-shadow: 0 -1px 10px #FFF, -1px 0 10px #FFF, 4px 0 10px #FFF;
  }

  span.city {
    color: $brand-success;
    font-size: 120%;
    font-weight: bold;
  }

  span.search {
    color: $brand-primary;
    font-size: 120%;
    font-weight: bold;
  }

  p.search_txt {
    color: $brand-primary;
    font-size: 80%;
    font-weight: bold;
    margin-bottom: 0;
  }

  p.search_txt_l {
    color: $brand-primary;
    font-size: 230%;
    margin-bottom: 0;
  }

  .search_box_btn,
  .search_box {
    float: left;
    padding: 0 10px 0 0;
  }

  .search_box_btn {
    float: left;
    padding: 0 0 0 0;
    margin-top: 12px;
  }


.container-search {
  background-color: rgba(255,255,255,0.6);
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 0;
  padding: 20px;
  }

}

//
// Jumbotron2　打ち消し
// --------------------------------------------------

.jumbotron2 {
  background: url("head--search2.jpg");
  background-color: #F9F9F9;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 1px solid #d8d5d0;
  margin-bottom: 20px;
  min-height: 180px;
  padding-top: 70px;
}


//
// bread
// --------------------------------------------------

.bread {
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 1px solid #d8d5d0;
  margin-top: -20px;

  h1,
  .h1 {
    color: $brand-primary;
    font-size: 120%;
    font-weight: bold;
  }

}


//
// Breadcrumbs　打ち消し
// --------------------------------------------------


.breadcrumb {
  padding: $breadcrumb-padding-vertical 0;
  margin-bottom: 0;
  list-style: none;
  background-color: transparent;
  border-radius: 0;

  > li {
    display: inline-block;

    + li:before {
      content: "#{$breadcrumb-separator}\00a0"; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0 5px;
      color: $breadcrumb-color;
    }
  }

  > .active {
    color: $breadcrumb-active-color;
  }
}

//
// bg-info　box
// --------------------------------------------------
.bg-info_box{
  padding: 15px;
  margin-bottom: 30px;
}


//
// container-search2 new
// --------------------------------------------------


.container-search2 {
  background-color: $brand-primary;

  h1,
  .h1 {
    color: $brand-primary;
    font-size: 24px;
    font-weight: bold;
  }

  span.city {
    color: $brand-success;
    font-size: 120%;
    font-weight: bold;
  }

  span.search {
    color: $brand-primary;
    font-size: 120%;
    font-weight: bold;
  }

  p.search_txt {
    color: $brand-primary;
    font-size: 80%;
    font-weight: bold;
    margin-bottom: 0;
  }

  p.search_txt_l {
    color: $brand-primary;
    font-size: 230%;
    margin-bottom: 0;
  }

  .search_box_btn,
  .search_box {
    float: left;
    padding: 0 10px 0 0;
  }

  .search_box_btn {
    float: left;
    padding: 0 0 0 0;
    margin-top: 12px;
  }


  }

//
// container-nav new
// --------------------------------------------------


.container-nav {
  background-color: $brand-primary;
  margin-bottom: 10px;

  h2,
  .h2 {
    color: #fff;
    font-size: 1.2em;
  }


  p.navbar {
    argin-bottom: 30px;
    min-height: 0;
  }

  p {
    color: #fff;
    font-size: 12px;
  }

  span.city {
  	color: #fff;
    font-size: 1em;
    font-weight: bold;
  }


  .border {
    border-left: 1px dashed #b1a7a0;
    border-right: 1px dashed #b1a7a0;
    margin: 5px 0;
  }


  }

//
// article-list new
// --------------------------------------------------

.article-list {
  margin: 0;
  padding: ($line-height-computed) 0;
  border-bottom: 1px solid #d8d5d0;
  list-style: none;
  height: 32em;

  a.article-list :hover,
  a.article-list :focus,
  a.article-list .active {
    border-color: $link-color;
    background-color: $link-color;
  }

  h1,
  .h1 {
    color: $brand-primary;
    font-size: 150%;
    font-weight: bold;
  }
  
  h2,
  .h2 {
    color: $brand-primary;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0;
    margin-top: 0.5em;
  }

  p {
  font-size: 1em;
  margin: 15px 0;
  }

  time{
  font-size: 0.9em;
  margin: 15px 0;
  color: #9197a3;
  }


  span.vol {
    color: $brand-success;
    font-size: 80%;
    font-weight: bold;
    padding: 0 10px 0 0px;
  }

  p.description {
  font-size: 100%;
  margin: 15px 0 0;
  }

  p.description a {
  color: #333;
  }


  .cut1 {
  position:relative;
  overflow: hidden;
  }

}

//
// article-list-side new
// --------------------------------------------------

.article-list-side {
  padding: 5px 0;
  border-bottom: 1px solid #d8d5d0;
  list-style: none;
  padding-bottom: 20px;

  a.article-list :hover,
  a.article-list :focus,
  a.article-list .active {
    border-color: $link-color;
    background-color: $link-color;
  }

  h1,
  .h1 {
    color: $brand-primary;
    font-size: 150%;
    font-weight: bold;
  }
  
  h3,
  .h3 {
    color: $brand-primary;
    font-size: 1em;
    font-weight: bold;
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 5px;
  }

  p {
  font-size: 1em;
  margin: 15px 0;
  }

  time{
  font-size: 0.9em;
  margin: 15px 0;
  color: #9197a3;
  }


  span.vol {
    color: $brand-success;
    font-size: 80%;
    font-weight: bold;
    padding: 0 10px 0 0px;
  }

  p.description {
  font-size: 100%;
  margin: 15px 0 0;
  }

  p.description a {
  color: #333;
  }

}

//
// article-list-mini new
// --------------------------------------------------

.article-list-mini {
  padding: 5px 0;
  border-bottom: 1px solid #d8d5d0;
  list-style: none;
  padding-bottom: 20px;

  a.article-list :hover,
  a.article-list :focus,
  a.article-list .active {
    border-color: $link-color;
    background-color: $link-color;
  }

  h1,
  .h1 {
    color: $brand-primary;
    font-size: 150%;
    font-weight: bold;
  }
  
  h3,
  .h3 {
    color: $brand-primary;
    font-size: 1em;
    font-weight: bold;
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 5px;
  }

  p {
  font-size: 1em;
  margin: 15px 0;
  }

  time{
  font-size: 0.9em;
  margin: 15px 0;
  color: #9197a3;
  }

  span.city {
    color: $brand-success;
    font-size: 90%;
    font-weight: bold;
  }

  span.city a{
    color: $brand-success;
  }


  span.vol {
    color: $brand-success;
    font-size: 80%;
    font-weight: bold;
    padding: 0 10px 0 0px;
  }

  p.description {
  font-size: 100%;
  margin: 15px 0 0;
  }

  p.description a {
  color: #333;
  }

}

//
// article-Title new
// --------------------------------------------------
.article-title3, 
.article-title2, 
.article-title {
  margin: 0 0 ($line-height-computed);
  padding: ($line-height-computed) 0;
  border-bottom: 1px solid #d8d5d0;

  h2,
  .h2 {
    color: $brand-primary;
    font-weight: bold;
    padding: 0;
    margin-top: 0;
  }

  p {
  font-size: 110%;
  margin: 15px 0;
  }

  span.vol {
    color: $brand-success;
    font-size: 80%;
    font-weight: bold;
    padding: 0 10px 0 0px;
  }

  p.description {
  font-size: 110%;
  margin: 15px 0;
  }

  img {
  margin-bottom: 10px;
  }
}

// --------------------------------------------------

.article-title:before {
  background:url("a001_4179217w.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
}

.article-title:before {
  content: "";
  z-index: -1;
  -webkit-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
  position: absolute;
  width: 100%;
  height: 220px;
  margin: -20px 0;
  padding: 0;
  opacity: .3;
}

.article-title2:before {
  background:url("a002_11714360w.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
}

.article-title2:before {
  content: "";
  z-index: -1;
  -webkit-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
  position: absolute;
  width: 100%;
  height: 220px;
  margin: -20px 0;
  padding: 0;
  opacity: .3;
}

.article-title3:before {
  background:url("a003_010w.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
}

.article-title3:before {
  content: "";
  z-index: -1;
  -webkit-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
  position: absolute;
  width: 100%;
  height: 220px;
  margin: -20px 0;
  padding: 0;
  opacity: .3;
}

//
// article new
// -------------------------

.article{

  h2,
  .h2 {
    color: $brand-primary;

    font-weight: bold;
    padding: 0;
  }

  h3,
  .h3 {
    color: $brand-success;
    font-size: 210%;
    font-weight: bold;
    margin: 50px 0 20px;
    padding: 6px 10px 6px;
    border-left: 7px solid;
  }

  h4,
  .h4,
  h4 question {
    color: $brand-success;
    font-size: 150%;
    font-weight: bold;
    margin: 50px 0 20px;
  }

  h4.question {
    font-size: 130%;
    margin: 15px 0; 
  }


  h5,
  .h5 {
    font-size: 120%;
    font-weight: bold;
    margin-top: 30px;
  }

  p {
    font-size: 120%;
    margin: 15px 0;
    line-height: 1.6em;
  }

  p.small {
    font-size: 85%;
  }

　p.item_num {
   padding: 10px 10px 10px 0;
  }

  .img-responsive {
    margin: 15px 0; 
  }


  ul.item_num,
  ul.item {
    padding: 10px 10px 10px 0;
    font-size: 110%;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
  }
  
  ul.item_num {
    list-style-type: decimal;
  }

  ul.item_s {
    font-size: 110%;
    display: block;
    margin: -10px -10px 20px 0px;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
  }

  ul.item_s li {
    padding: 10px 0;
  }

  img,
  .img {
    width: 100%;
  }

  span.glyphicon {
    margin-right: 10px;
  }

  span.title {
    color: $brand-success;
    font-size: 80%;
    font-weight: bold;
    padding: 0 10px 0 0px;
  }


  .container-author {
    background-color: rgba(255,255,255,0.6);
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 50px;
    padding: 14px;
    border: 1px solid #d8d5d0;
    }

    .container-author p {
    font-size: 100%;
    margin: 0 0;
    }


  a.btnc {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    font-weight: bold;
  }







}



//
// sns new
// -------------------------

.sns{
  padding: 50px 0 0 0;
}

.sns-twitter {
  padding: 2px 4px;
  float: right;
}

.sns-facebook {
  float: right;
}

.fb-like {
  padding: 2px 0 0 0;
}


//
// sidenav new
// -------------------------

.sidenav{
  padding-bottom: (($line-height-computed / 2));
  margin: ($line-height-computed / 2) 0 0;

  h2,
  .h2 {
    color: $brand-primary;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 0;
  }

  h2 > a {
    color: $brand-primary;
  }

  h2 > a:hover {
    color: #428bca;
    text-decoration: none;
  }

  p {
  margin-bottom: 15px;
  }

  img,
  .img {
    width: 100%;
  }

  span.title {
    color: $brand-success;
    font-size: 120%;
    font-weight: bold;
  }

  span.ranking1 {
    color: #ffaf25;
    font-size: 120%;
    font-weight: bold;
    margin: 0 10px 0 5px;
  }

  span.ranking2 {
    color: #848484;
    font-size: 120%;
    font-weight: bold;
    margin: 0 10px 0 5px;
  }

  span.ranking3 {
    color: #d08e48;
    font-size: 120%;
    font-weight: bold;
    margin: 0 10px 0 5px;
  }

  span.ranking-out {
    color: #A19B94;
    font-size: 120%;
    margin: 0 10px 0 5px;
  }

  span.glyphicon {
    margin: 0 10px 0 10px;
  }

}

//
// sidenav ranking new
// -------------------------

.sidenav-rank{
  padding-bottom: (($line-height-computed / 2) - 1);
  margin: ($line-height-computed * 2) 0 $line-height-computed;

  h2,
  .h2 {
    color: $brand-primary;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;
  }

  p {
  margin-bottom: 15px;
  }

  img,
  .img {
    width: 100%;
  }

  span.title {
    color: $brand-success;
    font-size: 120%;
    font-weight: bold;
  }

  span.ranking1 {
    color: #ffaf25;
    font-size: 120%;
    font-weight: bold;
    margin: 0 10px 0 5px;
  }

  span.ranking2 {
    color: #a9aaab;
    font-size: 120%;
    font-weight: bold;
    margin: 0 10px 0 5px;
  }

  span.ranking3 {
    color: #d08e48;
    font-size: 120%;
    font-weight: bold;
    margin: 0 10px 0 5px;
  }
}




//
// Page-search new
// -------------------------

.page-search {
  padding-bottom: (($line-height-computed / 2) - 1);
  margin: ($line-height-computed * 2) 0 $line-height-computed;

  h2,
  .h2 {
    color: $brand-primary;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;
  }

  p {
  margin-bottom: 15px;
  }

  img,
  .img {
    width: 100%;
  }

  td.title {
  width: 70px;
  }

  span.city {
    color: $brand-success;
    font-size: 120%;
    font-weight: bold;
  }

  span.city a{
    color: $brand-success;
  }

  span.search {
    color: $brand-primary;
    font-size: 120%;
    font-weight: bold;
  }

  .list_inline {
    -webkit-padding-start: 0px;
  }

  .list_inline li {
    border-right: 1px solid #ddd;
    display: inline-block;
    padding: 0 10px 0 5px;
    margin: 5px 0 0;
  }

  .list_check2,
  .list_check {
    -webkit-padding-start: 0px;
  }

  .list_check li {
    display: inline-block;
    padding: 0 30px 0 5px;
    margin: 5px 0 0;
    width: 30%;
  }

  .list_check2 li {
    display: inline-block;
    padding: 0 30px 0 5px;
    margin: 5px 0 0;
    width: 48%;
  }

select[multiple],
select[size]  {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  border: 0;
  margin: 0;
  padding: 0;
  background: none transparent;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  box-sizing: content-box;
}

  .col-md-4.s {
    padding-left:  ($grid-gutter-width / 4);
    padding-right: ($grid-gutter-width / 4);
}

  .row.s {
    padding-left:  ($grid-gutter-width / 4);
    padding-right: ($grid-gutter-width / 4);
}
}



//
// Thumbnails　打ち消し
// --------------------------------------------------


// Mixin and adjust the regular image class
.thumbnail {
  display: block;
  padding: $thumbnail-padding;
  margin-bottom: ($grid-gutter-width / 2);
  line-height: $line-height-base;
  background-color: $thumbnail-bg;
  border: 1px solid $thumbnail-border;
  border-radius: 0;
  @include transition(all .2s ease-in-out);

  h3.title {
    color: $brand-primary;
    font-size: 1.2em;
    font-weight: bold;
    padding: 4px 0 5px 0;
    margin: 0px;
  }

  p.desc {
  margin-bottom: 0;
  font-size: 90%;
  }

  li{
    list-style: none;
 }

  .gridpadding {
      padding-left:  0;
  }


  // [converter] extracted a&:hover, a&:focus, a&.active to a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active

  // Image captions
  .caption {
    padding: $thumbnail-caption-padding;
    color: $thumbnail-caption-color;
  }



}

// Add a hover state for linked versions only
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: $link-color;
}

//
// search-results new
// --------------------------------------------------

.search-results {

  margin-bottom: 100%;

  h1,
  .h1 {
    color: $brand-primary;
    font-size: 22px;
  }

  h2,
  .h2 {
    color: $brand-primary;
    font-size: 18px;
  }

  h2 .title-s,
  .h2 .title-s{
    color: $brand-primary;
    font-size: 18px;
  }

  h3,
  .h3 {
    color: $brand-primary;
    font-size: 18px;
  }

  p {
    color: $brand-primary;
    font-size: 12px;
  }

  span.number {
    color: $brand-success;
    font-size: 120%;
  }

  span.city {
    color: $brand-success;
    font-size: 140%;
  }

  span.title-s {
    color: $brand-success;
    font-size: 90%;
  }

  .navbar-fixed-top {
    top: 70px;
}




// search-results Tables new
// --------------------------------------------------


table {
  background-color: $table-bg;
  border: 2px solid #d1c0a5;

  .tbody {
    overflow-x: auto;
  }

  .table-header-label {
    border-left: 2px solid #d1c0a5;
    border-right: 2px solid #d1c0a5;
    background: #e8dfd1;
    font-size: 100%;
  }

  .table-label {
    border-left: 2px solid #ebe4d8;
    border-right: 2px solid #ebe4d8;
    font-size: 100%;
  }

  .table-scene {
   width: 60px;
  }

  .table-basicname {
    width: 120px;
    border-right: 2px solid #938774;
   }

  .table-originalname {
    width: 120px;
   }

  .table-window {
    width: 120px;
  }

  .table-detail {
    width: 230px;
  }


  .table-informationdesk {
    width: 90px;
   }

  .table-servicedetails {
    width: 160px;
   }



  .table-label:last-child,
  .table-label:first-child {
    border: 0;
  }

  .table-header-city {
    background-color: #d1c0a5;
    border-bottom: 2px solid #d1c0a5;
    font-size: 110%;
  }


  .table-header-city:last-child {
    border-right: none;
  }

  .table-header-type {
  background-color: #ddcfbc;
  border-left: 2px solid #d1c0a5;
  border-right: 2px solid #d1c0a5;
  text-align: center;
  }

  .table-header-type:last-child,
  .table-header-type:first-child {
  border-left: 0;
  border-right: 0;
  }

  .table-type-s_vline,
  .table-type-s,
   .table-type-ss {
  border-left: 1px solid #ebe4d8;
  border-right: 1px solid #ebe4d8;
  font-size: 90%;
  }

  .table-header-type-s,
  .table-header-type-m {
  border-left: 1px solid #d1c0a5;
  border-right: 1px solid #d1c0a5;
  background: #e8dfd1;
  text-align: center;
  font-size: 12px;
  }

  .table-header-type-s_vline2,
  .table-type-s_vline,
  .table-type-s,
  .table-type-ss,
  .table-header-type-s,
  .table-header-type-m {
  padding-left: 3px;
  padding-right: 3px;
  }

  .table-hoiku-1em {
    width: 22px;
   }

  .table-hoiku-2em {
    width: 50px;
   }

  .table-hoiku-area {
    width: 58px;
   }

  .table-hoiku-ryokin {
    width: 54px;
   }

  .table-type-ss {
  width: 1em;
  word-break: break-all;
  }


  .table-header-type-s:last-child,
  .table-header-type-s:first-child {
  border-left: 0;
  border-right: 0;
  }

  .table-type-s_vline {
  border-right: 2px solid #ebe4d8;
  }

  .table-header-type-s_vline {
  border-right: 2px solid #d1c0a5;
  }

  .table-header-type-s_vline2 {
  border-right: 2px solid #938774;
  }

  .table-header-type-s_vline2:last-child {
  border-right: 0;
  }

  .table-header-border_hline {
    border-bottom: 2px solid #d1c0a5;
  }



  tr.table-header-label2 {
    border-bottom: 2px solid #d1c0a5;
  }

  tr.table-header-label2 > th {
    border-left: 2px solid #d1c0a5;
    border-right: 2px solid #d1c0a5;
    background: #e8dfd1;
    font-size: 100%;
  }

  thead {
    border-bottom: 2px solid #d1c0a5;
  }

}


  th.table-header-title{
    background-color: #938774;
    border-top: 2px solid #938774;
    border-right: 2px solid #938774;
    border-left: 2px solid #938774;
    border-bottom: 1px solid #938774;
    font-weight: bold;
    font-size: 120%;
    color: #fff;
    margin-top: -10px;
    margin-bottom: 0;
    padding: 10px;
  }


//
// Tables table-striped2　new add
// --------------------------------------------------

  .table-striped2 > tbody > tr:nth-child(odd) > td,
  .table-striped3 > tbody > tr:nth-child(odd) > td {
    background-color: #f2f1f1;
    border-top: 0;
    border-bottom: 0;
  }

  .table-striped2 > tbody > tr:nth-child(odd) > td,
  .table-striped3 > tbody > tr:nth-child(odd) > th {
    border-top: 0;
    border-bottom: 0;
  }

  .table>tbody>tr>th,
  .table>tbody>tr>td {
   border-top: 0;
  }

  .table>tbody>tr>td>span.red {
   color: #ff0000;
  }

  tr.table-header-label3 > th:first-child {
    border-right: 1px solid #938774;
  }

  .table-striped3 > tbody > tr > td {
    border-left: 0;
    border-right: 2px solid #ebe4d8;
  }

  .table-striped3 > tbody > tr > td > mark {
    background: #ff0;
    color: #000;
  }

  .table-striped3 > tbody > tr > td:last-child {
    border-right: 0;
  }

  .table-striped3 > tbody > tr > td:first-child {
    font-weight: bold;
    border-right: 2px solid #d1c0a5;
  }

  .table-striped3 > tbody > tr > td:nth-of-type(1),
  .table-striped3 > tbody > tr > td:nth-of-type(2),
  .table-striped3 > tbody > tr > td:nth-of-type(3),
  .table-striped3 > tbody > tr > td:nth-of-type(4),
  .table-striped3 > tbody > tr > td:nth-of-type(5),
  .table-striped3 > tbody > tr > td:nth-of-type(6) {
    font-weight: bold;
  }


}


//
// badge 打ち消し
// --------------------------------------------------

.badge {
  font-size: 11px;
  font-weight: bold;
  background-color: $badge-bg;
}

.badge a {
  color: white;
}



