// customize bootstrap variables here:
@import "variables";
@import "bootstrap";
@import "icon";


.navbar {
  position: relative;
  min-height: 0;
  margin-bottom: 0;
  border: 1px solid transparent;
}

.navbar-default {
  background-color: #fffae8;
  border-color: #e7e7e7;
}

.page-header {
  margin: 0;
}


//
// footer new
// --------------------------------------------------

.container-foot {
  background-color: $brand-primary;

  p {
    color: #fff;
    font-size: 12px;
    margin: 10px 0;;
  }

  }

//
// Jumbotron　打ち消し
// --------------------------------------------------


.jumbotron {
  background: url("head--search.png");
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
  margin-bottom: 0;

  h1,
  .h1 {
    color: $brand-primary;
    font-size: 24px;
    font-weight: bold;

  }

  span.city {
    color: $brand-success;
    font-size: 120%;
    font-weight: bold;
  }

  span.search {
    color: $brand-primary;
    font-size: 120%;
    font-weight: bold;
  }

.container-search {
  background-color: rgba(255,255,255,0.6);
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 0;
  padding: 20px;
  }

}

//
// Jumbotron2　打ち消し
// --------------------------------------------------


.jumbotron2 {
  background-color: #f5f1ea;
  background-position: center;
  background-repeat: no-repeat;
  border-top: 1px solid #d8d5d0;
  border-bottom: 1px solid $brand-primary;
  padding: 20px;
  margin-bottom: 0;

  h1,
  .h1 {
    color: $brand-primary;
    font-size: 24px;
    font-weight: bold;

  }

  span.city {
    color: $brand-success;
    font-size: 120%;
    font-weight: bold;
  }

  span.search {
    color: $brand-primary;
    font-size: 120%;
    font-weight: bold;
  }

.container-search {
  background-color: rgba(255,255,255,0.6);
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 0;
  padding: 20px;
  }

}

//
// container-nav new
// --------------------------------------------------


.container-nav {
  background-color: $brand-primary;
  margin-bottom: 20px;

  h2,
  .h2 {
    color: #fff;
    font-size: 14px;
  }

  p {
    color: #fff;
    font-size: 12px;
  }

  span.city {
  	color: #fff;
    font-size: 16px;
    font-weight: bold;
  }


  .border {
    border-left: 1px dashed #b1a7a0;
    margin: 10px 0;
  }

  .border:last-child {
    border-right: 1px dashed #b1a7a0;
    margin: 10px 0;
  }


  }

//
// Page-search new
// -------------------------

.page-search {
  padding-bottom: (($line-height-computed / 2) - 1);
  margin: ($line-height-computed * 2) 0 $line-height-computed;

  h2,
  .h2 {
    color: $brand-primary;
    font-size: 18px;
    font-weight: bold;
    background-color: #f2f1f1;
    padding: 10px;
  }

  p {
  margin-bottom: 15px;
  }

  img,
  .img {
    width: 100%;
  }

  td.title {
  width: 70px;
  }

  span.city {
    color: $brand-success;
    font-size: 120%;
    font-weight: bold;
  }

  span.search {
    color: $brand-primary;
    font-size: 120%;
    font-weight: bold;
  }

  .col-md-4.s {
    padding-left:  ($grid-gutter-width / 4);
    padding-right: ($grid-gutter-width / 4);
}

  .row.s {
    padding-left:  ($grid-gutter-width / 4);
    padding-right: ($grid-gutter-width / 4);
}
}


//
// Thumbnails　打ち消し
// --------------------------------------------------


// Mixin and adjust the regular image class
.thumbnail {
  display: block;
  padding: $thumbnail-padding;
  margin-bottom: ($grid-gutter-width / 2);
  line-height: $line-height-base;
  background-color: $thumbnail-bg;
  border: 1px solid $thumbnail-border;
  border-radius: 0;
  @include transition(all .2s ease-in-out);

  h3.title {
    color: $brand-primary;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 0 5px 0;
    margin: 0px;
  }

  p.desc {
  margin-bottom: 0;
  font-size: 80%;
  }

  li{
    list-style: none;
 }

  .gridpadding {
      padding-left:  0;
  }


  // [converter] extracted a&:hover, a&:focus, a&.active to a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active

  // Image captions
  .caption {
    padding: $thumbnail-caption-padding;
    color: $thumbnail-caption-color;
  }



}

// Add a hover state for linked versions only
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: $link-color;
}

//
// search-results new
// --------------------------------------------------

.search-results {

  h1,
  .h1 {
    color: $brand-primary;
    font-size: 22px;
  }

  h2,
  .h2 {
    color: $brand-primary;
    font-size: 18px;
  }

  h3,
  .h3 {
    color: $brand-primary;
    font-size: 18px;
  }

  p {
    color: $brand-primary;
    font-size: 12px;
  }

  span.number {
    color: $brand-success;
    font-size: 120%;
  }

  span.city {
    color: $brand-success;
    font-size: 140%;
  }


// search-results Tables new
// --------------------------------------------------

table {
  max-width: 100%;
  background-color: $table-bg;
  border: 2px solid #d1c0a5;

  .table-header-scene {
  width: 80px;
  }

  .table-he {
  width: 80px;
  }

  .table-label {
  border-left: 2px solid #ebe4d8;
  border-right: 2px solid #ebe4d8;
  }

  .table-header-label {
  border-left: 2px solid #d1c0a5;
  border-right: 2px solid #d1c0a5;
  }

  .table-header-label {
  background: #e8dfd1;
  font-size: 120%;
  }

  .table-label:last-child,
  .table-label:first-child,
  .table-header-label:last-child,
  .table-header-label:first-child {
  border: 0;
  }

  .table-header-city {
  background-color: #d1c0a5;
  border-bottom: 2px solid #d1c0a5;
  font-size: 120%;
  }

  .table-header-type {
  background-color: #ddcfbc;
  border-left: 2px solid #d1c0a5;
  border-right: 2px solid #d1c0a5;
  }

  .table-header-type:last-child,
  .table-header-type:first-child {
  border-left: 0;
  border-right: 0;
  }

  .table-type-s {
  border-left: 1px solid #ebe4d8;
  border-right: 1px solid #ebe4d8;
}

  .table-header-type-s {
  border-left: 1px solid #d1c0a5;
  border-right: 1px solid #d1c0a5;
}

  .table-header-type-s {
  background: #e8dfd1;
  text-align: center;
  width: 1em;
}

  .table-header-type-s:last-child,
  .table-header-type-s:first-child {
  border-left: 0;
  border-right: 0;
}

  .table-type-s_vline {
  border-right: 2px solid #ebe4d8;
}

  .table-header-type-s_vline {
  border-right: 2px solid #d1c0a5;
}

  .table-header-border_hline {
  border-bottom: 2px solid #d1c0a5;
  }

  tr.table-header-title {
  background-color: #938774;
  border-top: 2px solid #fff;
  font-size: 120%;
  }

  tr.table-header-title th {
  color: #fff;
  }

}

//
// Tables new add
// --------------------------------------------------

.table-striped2 > tbody > tr:nth-child(odd) > td {
  background-color: #f2f1f1;
  border-top: 0;
  border-bottom: 0;
}

.table-striped2 > tbody > tr:nth-child(odd) > th {
  border-top: 0;
  border-bottom: 0;
}

.table>tbody>tr>td {
 border-top: 0;
}

}
