*.rbc
capybara-*.html
.DS_Store
.rspec
/log
/tmp
/db/*.sqlite3
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
config/secrets.yml
/.bundle
/vendor/bundle
.rvmrc
.sass-cache/
Gemfile.lock