<%= render 'layouts/header_datavisual_001' %>
<div class=" container">

<div class="sidenav">

	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	  <%= render 'layouts/sns' %>
	</div>

	<h2><span class="glyphicon-s icon-trophy"></span>東京23区<span class="title">待機児童数</span><span class="search">ランキング</span>（2014年）</h2>
		<p>※&nbsp;本ランキングでは、人数で表示していますが、自治体毎に面積が異なっており、単純に人数のみで比較することは難しい状況にあると言えるでしょう。</br>
			※「育休中は待機児童に含まない」「自宅で休職中もカウントしない」など、自治体独自の定義でカウントしており、実際の数字は明らかになってはいません。</br>
			※&nbsp;厚生労働省は待機児童についての定義を見直し定義を統一する方針を固めているので今後に期待しましょう。</p>

		<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
			<table class="table table-striped table-borderless">
					<tr>
							<td>
								<span class="ranking1">1</span>千代田区（0人）
							</td>
					</tr>
					<tr>
							<td>
								<span class="ranking2">2</span>荒川区（8人）
							</td>
					</tr>
					<tr>
							<td>
								<span class="ranking3">3</span>港区（45人）
							</td>
					</tr>
					<tr>
							<td>
								<span class="ranking-out">4</span>北区（69人）
							</td>
					</tr>
					<tr>
							<td>
								<span class="ranking-out">5</span>文京区（104人）
							</td>
					</tr>
					<tr>
							<td>
								<span class="ranking-out">6</span>葛飾区（111人）
							</td>
					</tr>
					<tr>
							<td>
								<span class="ranking-out">7</span>杉並区（116人）
							</td>
					</tr>
					<tr>
							<td>
								<span class="ranking-out">8</span>渋谷区（120人）
							</td>
					</tr>
					<tr>
							<td>
								<span class="ranking-out">9</span>台東区（126人）
							</td>
					</tr>
					<tr>
							<td>
								<span class="ranking-out">10</span>品川区（128人）
							</td>
					</tr>
			</table>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
			<table class="table table-striped table-borderless">
					<tr>
							<td>
								<span class="ranking-out">11</span>中央区（135人）
							</td>
					</tr>
					<tr>
							<td>
								<span class="ranking-out">12</span>新宿区（152人）
							</td>
					</tr>
					<tr>
							<td>
								<span class="ranking-out">13</span>墨田区（157人）
							</td>
					</tr>
					<tr>
							<td>
								<span class="ranking-out">14</span>豊島区（240人）
							</td>
					</tr>
					<tr>
							<td>
								<span class="ranking-out">15</span>中野区（241人）
							</td>
					</tr>
					<tr>
							<td>
								<span class="ranking-out">16</span>目黒区（247人）
							</td>
					</tr>
					<tr>
							<td>
								<span class="ranking-out">17</span>江戸川区（298人）
							</td>
					</tr>
					<tr>
							<td>
								<span class="ranking-out">18</span>江東区（315人）
							</td>
					</tr>
					<tr>
							<td>
								<span class="ranking-out">19</span>足立区（330人）
							</td>
					</tr>
					<tr>
							<td>
								<span class="ranking-out">20</span>練馬区（487人）
							</td>
					</tr>
			</table>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
			<table class="table table-striped table-borderless">
					<tr>
							<td>
								<span class="ranking-out">21</span>板橋区（515人）
							</td>
					</tr>
					<tr>
							<td>
								<span class="ranking-out">22</span>大田区（613人）
							</td>
					</tr>
					<tr>
							<td>
								<span class="ranking-out">23</span>世田谷区（1,109人）
							</td>
					</tr>
			</table>
		</div>

</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<p class="small"><a href="http://www.metro.tokyo.jp/INET/OSHIRASE/2014/07/20o7v300.htm" >出典 東京都公式ホームページ | 都内の保育サービスの状況について</a>（2015/1/21アクセス）</p>
		</div>

</div>
