<%= render 'layouts/header_nav' %>
<%= render 'layouts/header_top' %>
<div class="container text-center">
  <br />
  <br />
  <br />
  このページは表示できません。
  <br />
  <br />
  <br />
  <a href="/"><button class="btn btn-large btn-success">トップページへ戻る</button></a>
</div>
