<%= render 'layouts/header_article_001' %>

<div class="container">

	<div class="row">
		<div class="col-md-8">


			<div class="article">


				<div id="Vol1-4">
					<h3>利用者の負担増の可能性も……</h3>
					<p>
					それぞれ保育時間の違う幼稚園、保育所が併存するこども園の増加によって考えられるデメリットに、「追加徴収」の存在があげられます。
					</p>
					<p>
					今回の制度改正では、「市町村が定める利用者負担額のほか、実費徴収（通園送迎費、給食費、文房具費、行事費等）、それ以外の上乗せ徴収（教育・保育の質の向上を図るための対価）が可能」となっており、事情説明・同意要となってはいるものの、補助金不足の園ではこうした追加徴収が今後増えてくる可能性は否めません。
					</p>
					<p>
					たとえば、延長保育の料金。
					通常、幼稚園では9時から14時までなどの短時間保育を行っていますが、保育所の機能を併せ持つ認定こども園では、7時から16時までなどの長時間保育に加え、延長保育が行われるのがスタンダードとなります。
					</p>
					<p>
					必然的に、幼稚園からこども園に移行した園では、これまで短時間でやりくりしていたシフトの見直しや職員の増員が迫られます。こうした変化に対応するため、延長保育にかかる費用がこれまでよりも上乗せされることになるのは想像に難くありません。
					</p>
					<p>
					また、給食費などの実費負担や、各園で実施する質の高い教育・保育についての上乗せ利用料などが発表された園もあり、サービスの格差に悩む保護者の声が各所で上がっています。国は幼児教育の段階的な無償化を目指していますが、財源の不足などで道のりはなかなか険しいようです。
					</p>
					<%= image_tag("article_vol1_4.png",:class => "img-responsive")  %>
				</div>

				<div class="">
					<p>
					  <button type="button" class="btn btn-primary btn-lg btn-block"><a class="btnc" href="/article/001_kodomokosodate_5"class="button">さらなる負担？高収入家庭への打撃<span class="glyphicon glyphicon-chevron-right"></a></span>
					  </button>
					</p>
				</div>

				<div class="">
					<nav class="text-center">
					  <ul class="pagination pagination-lg">
					    <li><a href="/article/001_kodomokosodate_3" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
					    <li><a href="/article/001_kodomokosodate_1"> 1 <span class="sr-only">(current)</span></a></li>
					    <li><a href="/article/001_kodomokosodate_2"> 2 <span class="sr-only">(current)</span></a></li>
					    <li><a href="/article/001_kodomokosodate_3"> 3 <span class="sr-only">(current)</span></a></li>
					    <li class="active"><a href="/article/001_kodomokosodate_4"> 4 <span class="sr-only">(current)</span></a></li>
					    <li><a href="/article/001_kodomokosodate_5"> 5 <span class="sr-only">(current)</span></a></li>
						<li><a href="/article/001_kodomokosodate_6"> 6 <span class="sr-only">(current)</span></a></li>
						<li>
					      <a href="/article/001_kodomokosodate_5" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
					</nav>
				</div>


				<div class="col-lg-12 sns">
					<%= render 'layouts/sns' %>
				</div>
				
			</div>
		</div>


		<div class="col-md-4">
			<%= render 'layouts/side_nav' %>
		</div>


	</div>
</div> 
