<%= render 'layouts/header_article_001' %>


<div class="container">

	<div class="row">
		<div class="col-md-8">


			<div class="article">


				<div id="Vol1-2">
					<h3>認定こども園―なる？ならない？</h3>
					<%= image_tag("article_vol1_1.png",:class => "img-responsive",:alt => "認定こども園とは幼稚園と保育所が併設された施設のことで、入園後に保護者の就労状況が変わっても柔軟に対応できる、保育所の子供も幼稚園児と同じ教育を受けられるなどのメリットがあります。") %>
					<p>
					新制度の目玉の一つである「認定こども園の普及拡大」。</br>
					これまで国は、保育所に入れない待機児童の解消や、年々園児が減っていく幼稚園の再生を促すため、幼稚園がこども園へ移行することを推奨してきましたが、なかなかその数は思うように増えませんでした。
					</p>
					

					<p>
					なぜなら現行の制度では、こども園は幼稚園部分と保育所部分によって管轄官庁が分けられており、認定されるためには双方に手続をせねばならず、申請が複雑で分かりにくいものとなっていたからです。そこで新制度では管理を国がまとめて行うことで、こども園への移行をしやすくしました。
					</p>
					<p>
					しかしここに意外な落とし穴があったのです。手続が簡素化されたところまでは良かったのですが、実は手続の一本化とともに、これまで幼稚園部分・保育所部分それぞれに対し支給されていた補助金も一元化してしまい、結果、多くの園でもらえる補助金の額が大幅ダウンしてしまったのです。その減収額は、200人以上の規模の幼稚園ともなれば数千万円にものぼるほど。
					</p>
					<p>
					こうした現状を受け、現在認定こども園として運営している園が、認定返上を決めたり、こども園への移行を決めていた園が、試算の結果採算が合わないとして移行を取りやめたり、存続を決めたこども園では、不足分の補助金を補うために利用者に負担が強いられることになってしまったり……など、本来の目的とは全く逆の作用に働いてしまっているのです。
					</p>
				</div>

				<div class="">
					<p>
					  <button type="button" class="btn btn-primary btn-lg btn-block"><a class="btnc" href="/article/001_kodomokosodate_3"class="button">認定証＝入園許可証？<span class="glyphicon glyphicon-chevron-right"></a></span>
					  </button>
					</p>
				</div>

				<div class="">
					<nav class="text-center">
					  <ul class="pagination pagination-lg">
					    <li class="disabled"><a href="/article/001_kodomokosodate_1" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
					    <li><a href="/article/001_kodomokosodate_1"> 1 <span class="sr-only">(current)</span></a></li>
					    <li class="active"><a href="/article/001_kodomokosodate_2"> 2 <span class="sr-only">(current)</span></a></li>
					    <li><a href="/article/001_kodomokosodate_3"> 3 <span class="sr-only">(current)</span></a></li>
					    <li><a href="/article/001_kodomokosodate_4"> 4 <span class="sr-only">(current)</span></a></li>
					    <li><a href="/article/001_kodomokosodate_5"> 5 <span class="sr-only">(current)</span></a></li>
					    <li>
					      <a href="001_kodomokosodate_3" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
					</nav>
				</div>


				<div class="col-lg-12 sns">
					<%= render 'layouts/sns' %>
				</div>

				
			</div>
		</div>


		<div class="col-md-4">
			<%= render 'layouts/side_nav' %>
		</div>


	</div>
</div> 


