<%= render 'layouts/header_article_001' %>

<div class="container">

	<div class="row">
		<div class="col-md-8">



			<div class="article">




				<div id="Vol1-5">
					<h3>さらなる負担？高収入家庭への打撃</h3>
					<p>
					保育料の変更にあたり大きな影響を受けそうなのが、幼稚園に通う3〜5歳の子どものいる家庭。中でも特に高収入の家庭では負担が大幅に増えることが予想されます。
					</p>
					<p>
					現行制度の幼稚園では、保護者は所得に関係なく園が定めた一律の保育料を支払い、その後に就園奨励金などでキャッシュバックされていましたが、新制度導入後は、国が示した基準額をもとに、子供の年齢や保護者の就労時間・所得によって料金が決定されます。
					</p>
					<p>
					多くの自治体が利用者負担の軽減措置を取っており、新制度へ移行後も実際の負担額は国の基準額より少なくなると見られていますが、これまで公立幼稚園の場合、月額が数千円〜2万円程度であったところ、<mark><abbr title="（会社勤めで給与から住民税が天引きされている場合、6月に配布される「市町村民税特別徴収税額通知書」に額が記載されています）">「住民税の所得割額」</abbr></mark>が77,100円を超えると保育料の月額上限は一気に2万円に達するなど、急激な負担増の可能性があります。
					</p>
					<p>
					一方、保育所の料金設定は、標準時間（最長11時間）保育は現行と同額にし、新たに短時間（最長８時間）保育の枠組みを設置し、こちらは標準時間よりも若干安めの値段設定がされています。
					認定こども園の場合、幼児教育だけを受ければ幼稚園と同額となり、保育も受ければ保育所と同額となっています。
					</p>
				</div>

				<div class="">
					<p>
					  <button type="button" class="btn btn-primary btn-lg btn-block"><a class="btnc" href="/article/001_kodomokosodate_6"class="button">認可保育所間での補償格差<span class="glyphicon glyphicon-chevron-right"></a></span>
					  </button>
					</p>
				</div>


				<div class="">
					<nav class="text-center">
					  <ul class="pagination pagination-lg">
					    <li><a href="/article/001_kodomokosodate_4" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
					    <li><a href="/article/001_kodomokosodate_1"> 1 <span class="sr-only">(current)</span></a></li>
					    <li><a href="/article/001_kodomokosodate_2"> 2 <span class="sr-only">(current)</span></a></li>
					    <li><a href="/article/001_kodomokosodate_3"> 3 <span class="sr-only">(current)</span></a></li>
					    <li><a href="/article/001_kodomokosodate_4"> 4 <span class="sr-only">(current)</span></a></li>
					    <li class="active"><a href="/article/001_kodomokosodate_5"> 5 <span class="sr-only">(current)</span></a></li>
						<li><a href="/article/001_kodomokosodate_6"> 6 <span class="sr-only">(current)</span></a></li>
					    <li class="disabled">
					      <a href="/article/001_kodomokosodate_6" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
					</nav>
				</div>

				<div class="col-lg-12 sns">
					<%= render 'layouts/sns' %>
				</div>

			</div>
		</div>


		<div class="col-md-4">
			<%= render 'layouts/side_nav' %>
		</div>


	</div>
</div> 

