<%= render 'layouts/header_article_002' %>

<div class="container">

	<div class="row">
		<div class="col-md-8">
			

				<div class="article">

					<div id="Vol2-3">
						<h3>23区は子どもの医療費助成が充実</h3>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="row">
								<div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
										<%= image_tag("article_vol2_1.jpg", :class => "img-responsive") %>
								</div> 						
								<p>
								子どもがある程度大きくなるまでは、ことあるごとに熱を出したり、風邪をひいたり、流行病をもらってきたりと、とかく親の心配は尽きないもの。そしてそれはお財布事情も同じ。健康保険に入っていれば自己負担額は少なくて済むものの、回数が重なればその分家計も圧迫します。
								</p>
							</div>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="row">
									<p>
									しかしご安心あれ。東京23区は、子どもの医療費助成については全国よりもかなり進んでいるのです。
									</p>
									<p>
									<mark>なんと、23区すべてが中学生3年（15歳）までの子どもの医療費を全額助成。</mark></br>
									入院時の食事代、健康診断・予防接種費用、薬の容器代、差額ベッド代、紹介状を持たずに大きな病院（200床以上）で受診した場合の初診料などの自己負担額を除く入院・通院費が無料となっています。
									</p>
									<p>
									嬉しいことに、<mark><strong>千代田区、北区</strong>では高校3年（18歳）まで対象者の範囲を拡大（北区の場合、入院医療費に限られる）。</mark></br>
									また、<strong>中央区、港区、新宿区、台東区、品川区、目黒区、大田区、世田谷区、渋谷区、豊島区、北区、練馬区、葛飾区、江戸川区</strong>の14区は、入院時の食事食事代（入院時食事療養標準負担額）も助成しています。
									</p>
									<p class="text-center">◇</p>
									<p>
									その他、各自治体が個別に設置している子どもの医療費助成として、<mark>任意の予防接種に対する費用の助成があります。</mark>対象となる病気は、おたふくかぜ、インフルエンザなど。<a href="/datavisual/002_ikuji23kuhikaku" target="_blank">19区（東京23区出産・育児に優しい金銭的支援一覧の「任意予防接種、区独自の助成」参照）</a>で実施されています。</br>
									特筆すべきは渋谷区で、他の区が助成の対象を2項目ほどとしているところ、<strong>渋谷区</strong>のみ、ロタウイルスワクチン、B型肝炎、麻しん風しんなどの全5項目の予防接種の助成を受けることができます。</br>
									公費助成がなければ平均して一回5,000～7,000円ほどの費用がかかるものなので、お住まいの自治体で助成がある場合は賢く利用しましょう。
									</p>
							</div>
						</div>

					</div>

					<div class="">
						<p>
						  <button type="button" class="btn btn-primary btn-lg btn-block"><a class="btnc" href="/article/002_ikuji23kuhikaku_3"class="button">各自治体ごとのユニークな取組み<span class="glyphicon glyphicon-chevron-right"></a></span>
						  </button>
						</p>
					</div>

					<div class="">
						<nav class="text-center">
						  <ul class="pagination pagination-lg">
						    <li><a href="/article/002_ikuji23kuhikaku_1" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
						    <li><a href="/article/002_ikuji23kuhikaku_1"> 1 <span class="sr-only">(current)</span></a></li>
						    <li class="active"><a href="/article/002_ikuji23kuhikaku_2"> 2 <span class="sr-only">(current)</span></a></li>
						    <li><a href="/article/002_ikuji23kuhikaku_3"> 3 <span class="sr-only">(current)</span></a></li>
						    <li>
						      <a href="002_ikuji23kuhikaku_3" aria-label="Next">
						        <span aria-hidden="true">&raquo;</span>
						      </a>
						    </li>
						  </ul>
						</nav>
					</div>


					<div class="col-lg-12 sns">
						<%= render 'layouts/sns' %>
					</div>

				
			</div>
		</div>


		<div class="col-md-4">
			<%= render 'layouts/side_nav' %>
		</div>


	</div>
</div> 


