<%= render 'layouts/header_article_002' %>

<div class="container">

	<div class="row">
		<div class="col-md-8">


			<div class="article">


				<div id="Vol2-4">
					<h3>各自治体ごとのユニークな取組み</h3>
					<p>
					以上にあげたような、多くの自治体が実施する補助の他、それぞれの自治体が独自に設定したユニークな補助を紹介します。
					</p>
					<p>
					<h4><span class="glyphicon glyphicon-star"></span>転居・家賃助成</h4>
					</p>
					<p>
					<strong>新宿区、豊島区、北区</strong>には、子育てファミリー向けの転居・家賃の助成制度があります。
					</p>

					<h5><span class="glyphicon glyphicon-ok"></span>新宿区</h5>
					<ul class="item_s">
					<li>「転入転居助成支援」</br>
					区外から区内へ転入する場合、「契約時の礼金」「仲介手数料」合わせて最大36万円が支給されます（募集世帯数の制限、所得の制限あり）。</br>
					区内の転居の場合は、引っ越し業者に荷物の搬送を依頼した場合に限り、最大20万円が支給されます（募集世帯数の制限、所得の制限あり）。</li>
					<li>家賃3万円が毎月助成（募集世帯数の制限あり）</li>
					</ul>


					<h5><span class="glyphicon glyphicon-ok"></span>豊島区</h5>
					<ul class="item_s">
					<li>「15歳以下の子どもがいる家庭が豊島区内の民間賃貸住宅に転入・転居した場合、区が定めた基準家賃との差額分を月額15,000円まで助成。</br>
					（助成期間：5年間、4年目からは2分の1）</li>
					</ul>

					
					<h5><span class="glyphicon glyphicon-ok"></span>北区</h5>
					<ul class="item_s">
					<li>区内の民間住宅に1年以上暮らす子育てファミリー世帯が、区内の民間賃貸住宅に転居する場合、家賃の差額分を毎月最大2万円×3年間（金額は毎年減額）、転居費用を最大30万円助成。</li>
					</ul>


					<p>
					<h4><span class="glyphicon glyphicon-star"></span>三人乗り自転車購入費助成</h4>
					</p>
					<p>
					これは、<strong>葛飾区</strong>のみの事業。</br>
					子育て家庭の経済的負担を軽減し、保育園や幼稚園への送り迎えや外出時の安全性を高めるため、三人乗り自転車購入費用の2分の1（上限3万円）を補助しています。</br>
					対象となるのは、葛飾区在住で、6歳未満の子どもが2名以上いる家庭となります。
					</p>
					<p>
					<h4><span class="glyphicon glyphicon-star"></span>外国人学校児童・生徒補助金</h4>
					</p>
					<p>
					<strong>千代田区、中央区、江東区、中野区</strong>には、外国人学校に通う児童の保護者向け補助金があります。<strong>千代田区</strong>は生徒1人につき月額6,000円、<strong>中央区、江東区、中野区</strong>は同月額8,000円となっています（江東区は朝鮮学校、韓国学校、中華学校に限定）。
					</p>
				</div> 


				<div id="Vol2-5">
					<h3>おわりに</h3>
					
					<p>
					出産までに受け取れる補助金や、子どもにかかる医療費に大きな差はないので、これから子育てをするために転居を考えている場合はまず、
					</p>
					<div class="bg-info">
						<ul class="item">
							<li>幼稚園利用となるのか保育所利用になるのかを考え、そのどちらかの補助の多い区</li>
							<li>幼稚園、保育所の空き情報の確認</li>
							<li>収入</li>
							<li>出産予定人数</li>
							<li>受けたいサービス</li>
						</ul>
					</div>
					<p>
					で的を絞り、詳細な検討をしていくといいと思います。
					</p>
					<p>
					転居の予定がない場合は、自分の住んでいる自治体の制度をきちんと確認して、適用される制度があれば申請をしましょう。
					</p>
					<p>
					上手に利用すれば、子育てにかかる費用の負担が大幅に減額できるので、しっかり確認して活用してみてくださいね。
					</p>
				</div>


				<div id="Vol2-5">
					<div class="col-lg-12 container-author">
						<div class="row">
							<div class="col-lg-2 col-md-4 col-sm-3 col-xs-3">
								<%= image_tag("nao-sakaguchi.png",:class => "img-responsive")  %>
							</div>
							<div class="col-lg-10 col-md-8 col-sm-9 col-xs-9">
								<p class="">
								<small>ライター：</small><strong>坂口直</strong>
								</p>
								<p class="">
								Webを中心とした取材記事を執筆。日本の伝統・文化にフォーカスした紀行文の連載や、東京・恵比寿を拠点とした地域の最新情報の発信など、「人と地域」をテーマとした様々な活動を行う。一方、ニュースメディアでの編集経験を活かし、経済・政治を客観的に読み解く記事の執筆にもあたる。
								</p>
							</div>
						</div>
					</div>
				</div>


				<div class="col-lg-12 sns">
					<%= render 'layouts/sns' %>
				</div>


				<div class="">
					<nav class="text-center">
					  <ul class="pagination pagination-lg">
					    <li class="disabled"><a href="/article/002_ikuji23kuhikaku_1" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
					    <li><a href="/article/002_ikuji23kuhikaku_1"> 1 <span class="sr-only">(current)</span></a></li>
					    <li><a href="/article/002_ikuji23kuhikaku_2"> 2 <span class="sr-only">(current)</span></a></li>
					    <li class="active"><a href="/article/002_ikuji23kuhikaku_3"> 3 <span class="sr-only">(current)</span></a></li>
					    <li>
					      <a href="002_ikuji23kuhikaku_3" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
					</nav>
				</div>



				
			</div>
		</div>


		<div class="col-md-4">
			<%= render 'layouts/side_nav' %>
		</div>


	</div>
</div> 


