<%= render 'layouts/header_article_003' %>

<div class="container">

	<div class="row">
		<div class="col-md-8">
			

				<div class="article">

					<div id="Vol2-3">
						<h3>「子ども・子育て新制度」開始後の港区の保育料はどうなってる？</h3>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="row">
					
							    <div class="bg-info">
									<div>
										<p>
										<strong>港区の改定後の保育料金</strong></br>
										保育料には「所得に応じて応分の負担をする」という大原則がある。そのため、所得に応じてこまかく階層が設定されており、階層ごとに保育料の負担額が増減する。このようにして低所得者には負担を少なく設定し、所得が増えるにしたがって負担が増えていく仕組み。</br>
										（港区のプレス資料：保育料改定の全体像の表）
										</p>
										<p>

										これまでの制度では、D21（保育料57,500円）の階層までしか設けられておらず、国が定める保育料の上限額104,000円と比べるとかなり低く設定されていた。その最高階層に港区の25%もの世帯が属していた。
										そこで、このままでは不公平が生じるため、今回の改定にあわせて最高階層の上に新たに4階層をもうけ、1階層ごとに4,300円を増額した。
										</p>
									</div>
								</div>

							<div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
									<%= image_tag("article_vol3_1.jpg", :class => "img-responsive") %>
							</div>

							<h4>─値上がりをするということで厳しい意見もあったのでは？</h4>
							<p>
							たしかに、値上げが厳しいという意見や、その値上げをした分で第二子無料にしているのではという意見もあがっていました。</br></br>
							ただ、最高階層を引き上げたのは、あくまでも応分の負担をしていただくための改定であり、第二子無料はそれとは別の施策になっています。2人目以降も生み育てやすい環境を整えたいという港区独自の施策ですので、そこは一緒のものではないということを皆様にご説明させていただいています。
							</p>

							<h4>─保育料改定で特に気をつけた点などはありますか？</h4>
							<p>
							新制度では保育料以外にも手続き的なことや状況が変わったりするので、あまり一気に改定をしすぎると区民の方が混乱してしまうだろうと考え、今回は必要最小限での改定を心がけました。</br></br>
							今回は、最高階層の引き伸ばし以外ほとんど変更を加えていないのですが、D4,D5の階層のみ少し料金を下げています。これは今までの保育料金で、その部分だけがいきなり料金があがってしまっていたので一部精査させていただきました。</br></br>

							</p>

						</div>

						</div>

					</div>

					<div class="">
						<p>
						  <button type="button" class="btn btn-primary btn-lg btn-block"><a class="btnc" href="/article/003_minatokuinterview_3"class="button">「子育てするなら港区」気になるその他の子育て支援策は？<span class="glyphicon glyphicon-chevron-right"></a></span>
						  </button>
						</p>
					</div>

					<div class="">
						<nav class="text-center">
						  <ul class="pagination pagination-lg">
						    <li><a href="/article/003_minatokuinterview_1" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
						    <li><a href="/article/003_minatokuinterview_1"> 1 <span class="sr-only">(current)</span></a></li>
						    <li class="active"><a href="/article/003_minatokuinterview_"> 2 <span class="sr-only">(current)</span></a></li>
						    <li><a href="/article/003_minatokuinterview_3"> 3 <span class="sr-only">(current)</span></a></li>
						    <li>
						      <a href="003_minatokuinterview_3" aria-label="Next">
						        <span aria-hidden="true">&raquo;</span>
						      </a>
						    </li>
						  </ul>
						</nav>
					</div>


					<div class="col-lg-12 sns">
						<%= render 'layouts/sns' %>
					</div>

				
			</div>
		</div>


		<div class="col-md-4">
			<%= render 'layouts/side_nav' %>
		</div>


	</div>
</div> 


