<%= render 'layouts/header_article_004' %>

<div class="container">

	<div class="row">
		<div class="col-md-8">
			

				<div class="article">

					<div id="Vol4-3">
						<h3>「保育園ふやし隊@杉並」参加者の声</h3>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="row">
					
							<div class="">
								
								<div class="row">
									<div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
											<%= image_tag("article_vol4_3.jpg", :class => "img-responsive") %>
									</div>
									<p class="col-lg-7 col-md-7 col-sm-8 col-xs-12">
									<a href="http://fuyashitai.blog.shinobi.jp/" target="_blank">保育園ふやし隊＠杉並</a>のご協力の元、今年保活をしたお母さんひとり、現在認可保育園にお子さんを通園させているお母さん3人、計４名の方にお話を伺いました。保育園ママらしく、キャリアウーマンといった雰囲気の方ばかりでした。</br></br>
									</p>
								</div>

								<div>
									<h4>▼ 今回初参加、11ヶ月のお子さんのいるワーキングママ</h4>
									<p>
									今回がふやし隊の活動初参加という、現在11ヶ月のお子さんがいるお母さん。</br></br>
									共働きのため、認可保育園に子どもを預けるべく入園申込をしたが不承諾。その後WebやFacebookで情報収集をしているときに、ふやし隊の活動を知ったのだそう。「いまは、杉並区が緊急対策として整備した保育室に子どもを預け、時短勤務にして働いています。ただ、保育室は年齢制限があるので、３歳以降の預け先を見つける必要があり、引き続き認可保育園を希望し申し込みをしています」
									</p>
								</div>

								<div>
									<h4>▼ 2013年2月から活動、3歳のお子さんのママ</h4>
									<p>
									2012年に出産、2014年認可保育園に入園不承諾となり活動に参加。
									活動参加直後に新設の認可保育園に子どもを預けることができたという彼女が活動に参加し続ける理由は、彼女自身もふやし隊の活動に助けられているから、なのだそうです。</br></br>
									「出産前は保活について考えたこともなかったですね。待機児童問題も知りませんでした」
									</p>
								</div>

								<div>
									<h4>▼ 2013年2月から活動、現在は二人目を妊娠中のママ</h4>
									<p>
									2013年2月からふやし隊に参加しているという、3歳のお子さんのママ。</br></br>
									2歳児まで認可外の保育施設にお子さんを預けていましたが、2015年4月に3歳児で認可保育園に入園することができたそうです。今は2人目を妊娠中とのことでした。</br></br>
									「下の子が生まれたら、上の子が入っているのと同じ認可保育園に預けたいんですが、その園の受け入れは1歳からなんです。なので、2人目は新生児から受け入れ可能な園にひとまず預けて、1歳で同園に預けられないかなと思ってますが、1歳児枠は最も倍率が高いのでどうなるか分かりません。」
									</p>
								</div>

								<div>
									<h4>▼ 2014年の保育園一揆より参加、自営業で働くママ</h4>
									<p>
									ふやし隊の活動は、保育園申し込みの際に区役所前でチラシをもらって知ったのがきっかけ。</br></br>
									当時認可保育園には不承諾、なんとか保育ママを見つけ仕事を辞めずに続けることができ、ようやく今年4月より新設された認可保育園に2歳児枠で入園することができました。今回のインタビューでは、自営業で働きながら保活をする難しさを語ってくれました。</br></br>

									「出産前は保活について考えたことはありませんでした。フタを開けてみたら問題が山積みといった状況でしたね。
									自営業は産休明け（産後3か月以内、杉並区の場合は＋1か月猶予があり4か月以内）までにどこにも子供を預けられないと “子供同伴で仕事している” とみなされポイントが低くなり、より入園しづらくなってしまいます。でも年度途中ではどこも入れる状況ではありませんでした。自営業でも子どもがいたら働きにくいのは同じなのに……」</br></br>

									こちらのママは、「加点減点の仕組みに前々から疑問を感じていた」とのこと。しかしその部分について、杉並区では今年4月から改善。「本当に良かったと思います。同時に、当事者が声を上げることの大切さを実感しました」と語ってくれました。

									</br></br>
									</p>
								</div>

							</div>
						</div>

						</div>

					</div>

					<div class="">
						<p>
						  <button type="button" class="btn btn-primary btn-lg btn-block"><a class="btnc" href="/article/004_suginamifuyashitai_3"class="button">活動参加者の声から見えてきたニーズは「やっぱり認可保育園」<span class="glyphicon glyphicon-chevron-right"></a></span>
						  </button>
						</p>
					</div>

					<div class="">
						<nav class="text-center">
						  <ul class="pagination pagination-lg">
						    <li><a href="/article/004_suginamifuyashitai_1" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
						    <li><a href="/article/004_suginamifuyashitai_1"> 1 <span class="sr-only">(current)</span></a></li>
						    <li class="active"><a href="/article/004_suginamifuyashitai_2"> 2 <span class="sr-only">(current)</span></a></li>
						    <li><a href="/article/004_suginamifuyashitai_3"> 3 <span class="sr-only">(current)</span></a></li>
						    <li><a href="/article/004_suginamifuyashitai_4"> 4 <span class="sr-only">(current)</span></a></li>
						    <li>
						      <a href="/article/004_suginamifuyashitai_4" aria-label="Next">
						        <span aria-hidden="true">&raquo;</span>
						      </a>
						    </li>
						  </ul>
						</nav>
					</div>

					<p>
						<ul class="nav"><p>【INDEX】</p>
							<li role="presentation" ><a href="/article/004_suginamifuyashitai_1#Vol4-1"><span class="glyphicon glyphicon-ok"></span>保育園一揆の火付け役「保育園ふやし隊@杉並」とは？</a></li>
							<li role="presentation" ><a href="/article/004_suginamifuyashitai_1#Vol4-2"><span class="glyphicon glyphicon-ok"></span>「保育園を増やして！」異議申し立ての方法は？参加者は？</a></li>
							<li role="presentation" ><a href="/article/004_suginamifuyashitai_2#Vol4-3"><span class="glyphicon glyphicon-ok"></span>「保育園ふやし隊@杉並」参加者の声</a></li>
							<li role="presentation" ><a href="/article/004_suginamifuyashitai_3#Vol4-4"><span class="glyphicon glyphicon-ok"></span>活動参加者の声から見えてきたニーズは「やっぱり認可保育園」</a></li>
							<li role="presentation" ><a href="/article/004_suginamifuyashitai_4#Vol4-5"><span class="glyphicon glyphicon-ok"></span>活動後の区の対応は？ 新制度でカバーできたポイントは？</a></li>
							<li role="presentation" ><a href="/article/004_suginamifuyashitai_4#Vol4-6"><span class="glyphicon glyphicon-ok"></span>ほしい未来をつくるには、自らアクションすること</a></li>
						</ul>
					</p>

					<div class="col-lg-12 sns">
						<%= render 'layouts/sns' %>
					</div>

				
			</div>
		</div>


		<div class="col-md-4">
			<%= render 'layouts/side_nav' %>
		</div>


	</div>
</div> 


