<%= render 'layouts/header_article_004' %>

<div class="container">

	<div class="row">
		<div class="col-md-8">


			<div class="article">


					<div id="Vol4-4">
						<h3>活動参加者の声から見えてきたニーズは「やっぱり認可保育園」</h3>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="row">
					
							<div>
									<p>
									話をうかがっていると、小さなお子さんを持つお母さんの抱える悩み、求めていることに共通点があることがわかりました。大きく分けると、そのニーズは下記の2点に絞られます。
									</p>
								

								<div>
								
									<h4>▼ 保活は早めのスタートが吉！</h4>
										
										<p>
										まず、みなさん一同に口を揃えて言っていたのが、「出産前は保活について考えていなかった。待機児童問題など知らなかった」ということ。いざ子どもを保育園に預けようと保活を始めてから待機児童問題の深刻さに気づき、そこではじめて当事者となるケースが多いようです。</br></br>

										たとえば、認可外の企業運営（私立）保育園は、先着順の場合や単願申し込み者優先の場合があります。園によって先行基準が異なりますが、公表されているわけではないので、実際に各園に問い合わせてみないとわからないのです。また、認可保育園の不承諾結果を受けてからでは、すでに認可外保育園の枠はほぼ埋まっています。しかしこのようなことも、<mark>保活を経験したことがないとわからないのです。</mark></br></br>

										認可保育園に入園する為に必要なポイントを加点するにはどのタイミングで何をするべきか、そもそもどこの自治体が保育に力を入れているのかなど、<mark>出産前からしっかり情報集めをしておくことが、有利な保活を進めるコツ</mark>であるようです。

										</p>

										</div>

								<div>


									<h4>▼ やっぱり認可保育園に預けたい！</h4>
									<div class="row">
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
												<%= image_tag("article_vol4_4.jpg", :class => "img-responsive") %>
										</div>
									
										<p>
										保育園を探しているときは、とにかく「仕事に復帰する」ことを前提に考え、認可でない保育施設でもいいからと預けるものの、いざ通園してみるとその違いを感じずにはいられないのだとか。</br></br>
										</p>
									</div>	
										<p>
										たとえば杉並区の場合、認証保育園に対して保育料の補助がおこなわれているので金額的には認可も認証も変わらないように見えますが、その補助金が課税対象になっており、やはり認可よりずいぶん割高になってしまうそう。</br></br>

										また、認証保育園は敷地面積がやや狭いため、子どもが自由に動き回る3歳ごろになると、広くて設備が充実した施設で過ごさせたくなるんだとか。そういった理由からか、3歳ごろになると認可の保育園や幼稚園に移動するお子さんが増え、一緒に遊ぶ友達が少なくなっていくのだそうです。</br></br>

										<a href="/article/001_kodomokosodate_6">事故などの際の補償</a>も違ってくるので、やっぱり認可保育園がいい、という声は根強い様子。</br></br>
										ただ、認可に預けられないからといって諦めるのではなく、認証保育園などに預けることで、認可保育園の入所に必要な加点ポイントがあがることを期待できます。
										</p>

									

								</div>


							</div>
						</div>

						</div>

					</div>


				<div class="col-lg-12 sns">
					<%= render 'layouts/sns' %>
				</div>


				<div class="">
					<nav class="text-center">
					  <ul class="pagination pagination-lg">
					    <li class="disabled"><a href="/article/004_suginamifuyashitai_1" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
					    <li><a href="/article/004_suginamifuyashitai_1"> 1 <span class="sr-only">(current)</span></a></li>
					    <li><a href="/article/004_suginamifuyashitai_2"> 2 <span class="sr-only">(current)</span></a></li>
					    <li class="active"><a href="/article/004_suginamifuyashitai_3"> 3 <span class="sr-only">(current)</span></a></li>
					    <li><a href="/article/004_suginamifuyashitai_4"> 4 <span class="sr-only">(current)</span></a></li>
					    <li>
					      <a href="/article/004_suginamifuyashitai_4" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
					</nav>
				</div>

					<p>
						<ul class="nav"><p>【INDEX】</p>
							<li role="presentation" ><a href="/article/004_suginamifuyashitai_1#Vol4-1"><span class="glyphicon glyphicon-ok"></span>保育園一揆の火付け役「保育園ふやし隊@杉並」とは？</a></li>
							<li role="presentation" ><a href="/article/004_suginamifuyashitai_1#Vol4-2"><span class="glyphicon glyphicon-ok"></span>「保育園を増やして！」異議申し立ての方法は？参加者は？</a></li>
							<li role="presentation" ><a href="/article/004_suginamifuyashitai_1#Vol4-3"><span class="glyphicon glyphicon-ok"></span>「保育園ふやし隊@杉並」参加者の声</a></li>
							<li role="presentation" ><a href="/article/004_suginamifuyashitai_1#Vol4-4"><span class="glyphicon glyphicon-ok"></span>活動参加者の声から見えてきたニーズは「やっぱり認可保育園」</a></li>
							<li role="presentation" ><a href="/article/004_suginamifuyashitai_1#Vol4-5"><span class="glyphicon glyphicon-ok"></span>活動後の区の対応は？ 新制度でカバーできたポイントは？</a></li>
							<li role="presentation" ><a href="/article/004_suginamifuyashitai_1#Vol4-6"><span class="glyphicon glyphicon-ok"></span>ほしい未来をつくるには、自らアクションすること</a></li>
						</ul>
					</p>
				
			</div>
		</div>


		<div class="col-md-4">
			<%= render 'layouts/side_nav' %>
		</div>


	</div>
</div> 


