<%= render 'layouts/header_article_005' %>

<div class="container">

	<div class="row">
		<div class="col-md-8">
			

				<div class="article">

				<div id="Vol5-2">
					<h3>第二子・第三子の保育料の割引について</h3>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="row">

							<div>
								<div class="row">
									<div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
											<%= image_tag("article_vol4_1.jpg", :class => "img-responsive") %>
									</div>

									<p class="col-lg-7 col-md-7 col-sm-8 col-xs-12">
									前章の冒頭にて、保育料が決定する要素には、</br>
									①住んでいる地域（所属する自治体）</br>
									②世帯年収の所得割額</br>
									③子供の年齢</br>
									④在園児の人数</br>
									の4つが関わってくることについて触れましたが、ここでは④在園児の人数
									について説明していきたいと思います。</br></br>
									</p>

									<p class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									【第二子以降の割引】</br>
									同時期に在園児が2名以上いる場合、ほとんどの自治体が保育料軽減の措置をとっています。</br></br>

									（第二子以降の割引・表）</br>
									・無料：港区</br>
									・半額：千代田区、中央区、新宿区、台東区、墨田区、品川区、大田区、世田谷区、豊島区、葛飾区、</br>
									・所得ランクに応じて段階的に割引：文京区、江東区、目黒区、渋谷区、中野区、杉並区、北区、荒川区、板橋区、練馬区、足立区、江戸川区、</br>
									※640万円以下には半額またはそれ以下の割引を設定している自治体が多い。</br>

									【第三子以降の割引】</br>
									東京23区はすべて無料としています。</br>
									基本的には「在園児が2人以上いること」を条件にしていますが、文京区、荒川区、目黒区においては 「児童を3人以上養育していること」という幅広い条件設定となっています。</br>

									【延長料金について】</br>
									通常、第二子以降も延長料金は満額での支払い（割引はなし）となっていますが、墨田区においては第三子の割引適用者の延長料については無料となります。</br>

									</p>
								</div>


							</div>
							

						</div>
					</div>
				</div>

					<div class="">
						<p>
						  <button type="button" class="btn btn-primary btn-lg btn-block"><a class="btnc" href="/article/005_tokyo23hoikuryo_3"class="button">認証保育所の割引はどうなっている？<span class="glyphicon glyphicon-chevron-right"></a></span>
						  </button>
						</p>
					</div>

					<div class="">
						<nav class="text-center">
						  <ul class="pagination pagination-lg">
						    <li><a href="/article/005_tokyo23hoikuryo__1" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
						    <li><a href="/article/005_tokyo23hoikuryo_1"> 1 <span class="sr-only">(current)</span></a></li>
						    <li class="active"><a href="/article/005_tokyo23hoikuryo_2"> 2 <span class="sr-only">(current)</span></a></li>
						    <li><a href="/article/005_tokyo23hoikuryo_3"> 3 <span class="sr-only">(current)</span></a></li>
						    <li><a href="/article/005_tokyo23hoikuryo_4"> 4 <span class="sr-only">(current)</span></a></li>
						    <li>
						      <a href="/article/005_tokyo23hoikuryo_4" aria-label="Next">
						        <span aria-hidden="true">&raquo;</span>
						      </a>
						    </li>
						  </ul>
						</nav>
					</div>

					<p>
						<ul class="nav"><p>【INDEX】</p>
							<li role="presentation" ><a href="/article/005_tokyo23hoikuryo_1#Vol5-1"><span class="glyphicon glyphicon-ok"></span>認可保育園の保育料、我が家にお得なのはどこの区？</a></li>
							<li role="presentation" ><a href="/article/005_tokyo23hoikuryo_2#Vol5-2"><span class="glyphicon glyphicon-ok"></span>第二子・第三子の保育料の割引について</a></li>
							<li role="presentation" ><a href="/article/005_tokyo23hoikuryo_3#Vol5-3"><span class="glyphicon glyphicon-ok"></span>「認証保育所の割引はどうなっている？</a></li>
							<li role="presentation" ><a href="/article/005_tokyo23hoikuryo_3#Vol5-4"><span class="glyphicon glyphicon-ok"></span>おわりに</a></li>
						</ul>
					</p>


					<div class="col-lg-12 sns">
						<%= render 'layouts/sns' %>
					</div>

				
			</div>
		</div>


		<div class="col-md-4">
			<%= render 'layouts/side_nav' %>
		</div>


	</div>
</div> 


