<%= render 'layouts/header_article_005' %>

<div class="container">

	<div class="row">
		<div class="col-md-8">


			<div class="article">


					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="row">
					
							<div id="Vol5-4">

								<div>
									<h3>おわりに</h3>
										
											<p>
											実際に生活を始めるとほかの様々なことにもお金がかかるので、保育料の額だけでは自治体の比較はできません。</br></br>
											23区はもともと子どもの医療費や保育料など手厚い傾向がありますが、その分家賃が高い傾向にあります。ほかにも、医療費などの項目を加味して総合的に判断するのが、かしこい居住区の選択方法といえるでしょう。</br></br>
											ぜひ検討すべき項目のひとつとして、参考にしてみてくださいね！
											</p>																		
							</div>

							</div>
						</div>

						</div>



				<div id="Vol5-5">
					<div class="col-lg-12 container-author">
						<div class="row">
							<div class="col-lg-2 col-md-4 col-sm-3 col-xs-3">
								<%= image_tag("nao-sakaguchi.png",:class => "img-responsive")  %>
							</div>
							<div class="col-lg-10 col-md-8 col-sm-9 col-xs-9">
								<p class="">
								<small>ライター：</small><strong>坂口直</strong>
								</p>
								<p class="">
								Webを中心とした取材記事を執筆。日本の伝統・文化にフォーカスした紀行文の連載や、東京・恵比寿を拠点とした地域の最新情報の発信など、「人と地域」をテーマとした様々な活動を行う。一方、ニュースメディアでの編集経験を活かし、経済・政治を客観的に読み解く記事の執筆にもあたる。
								</p>
							</div>
						</div>
					</div>
				</div>


				<div class="col-lg-12 sns">
					<%= render 'layouts/sns' %>
				</div>


				<div class="">
					<nav class="text-center">
					  <ul class="pagination pagination-lg">
					    <li class="disabled"><a href="/article/005_tokyo23hoikuryo_1" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
					    <li><a href="/article/005_tokyo23hoikuryo_1"> 1 <span class="sr-only">(current)</span></a></li>
					    <li><a href="/article/005_tokyo23hoikuryo_2"> 2 <span class="sr-only">(current)</span></a></li>
					    <li><a href="/article/005_tokyo23hoikuryo_3"> 3 <span class="sr-only">(current)</span></a></li>
					    <li class="active"><a href="/article/005_tokyo23hoikuryo_4"> 4 <span class="sr-only">(current)</span></a></li>
					    <li>
					      <a href="/article/005_tokyo23hoikuryo_4" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
					</nav>
				</div>

					<p>
						<ul class="nav"><p>【INDEX】</p>
							<li role="presentation" ><a href="/article/005_tokyo23hoikuryo_1#Vol5-1"><span class="glyphicon glyphicon-ok"></span>認可保育園の保育料、我が家にお得なのはどこの区？</a></li>
							<li role="presentation" ><a href="/article/005_tokyo23hoikuryo_2#Vol5-2"><span class="glyphicon glyphicon-ok"></span>第二子・第三子の保育料の割引について</a></li>
							<li role="presentation" ><a href="/article/005_tokyo23hoikuryo_3#Vol5-3"><span class="glyphicon glyphicon-ok"></span>「認証保育所の割引はどうなっている？</a></li>
							<li role="presentation" ><a href="/article/005_tokyo23hoikuryo_3#Vol5-4"><span class="glyphicon glyphicon-ok"></span>おわりに</a></li>
						</ul>
					</p>

				
			</div>
		</div>


		<div class="col-md-4">
			<%= render 'layouts/side_nav' %>
		</div>


	</div>
</div> 


