<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<% @articles.each do |article| %>
<a href="/article/<%= article['url'] %>"><%= article['title'] %></a>
<%= article['description'] %>
<% end %>