<div class="page-search" id="search-area">


	<h2><span class="glyphicon-s icon-map"></span><span class="city">地域・自治体</span>で<span class="search">探す</span></h2>
		<p>自治体（市区町村）を選択してください。</p>

  <%= javascript_include_tag "city_search2" %>

		<%= bootstrap_form_tag id:'btn_area_submit', url: 'search_by_area', method:'get' do |f| %>
		<table class="table table-striped table-borderless">
			<% @all_cities.each_slice(4) do |slice| %>
				<tr>
					<% slice.each do |city| %>
						<td>
							<%= link_to city, action: 'search_by_area',  selected_city: {city => 1} %>
						</td>
					<% end %>
				</tr>
			<% end %>
			</table>

		<% end %>

</div>
