<div class="page-search" id="search-area2">


	<h2><span class="glyphicon-s icon-map"></span><span class="city">地域・自治体</span>で<span class="search">比較検索</span></h2>
		<p>近日公開を予定しています。今しばらくお待ちください。</p>



</div>
