	<% content_for :meta_contents do %>
		<meta name="keywords" content="社会保障ドットコム,社会保障.com,子ども子育て支援新制度,出産,育児,子育て,金銭的支援,港区,保育料">
		<meta name="description" content="4月から開始した「子ども・子育て支援新制度」。これにあわせて各自治体では大幅な制度や保育料の改正がありました。今回は、23区で初めて、第二子の保育料無料化に踏み切った港区さんにお話を伺ってきました。他の自治体よりも圧倒的に早く改定料金が発表された、驚くべき理由とは・・・？">
		<meta property="og:title" content="社会保障ドットコム|Vol.3 23区初！圧倒的なスピードで「第二子以降無料化」にふみきった港区の推進力に迫る">
		<meta property="og:image" content="http://www.syakaihosyou.com/assets/article_vol3.png">
		<meta property="og:url" content="http://www.syakaihosyou.com/article/003_minatokuinterview_1">
		<meta property="og:description" content="4月から開始した「子ども・子育て支援新制度」。これにあわせて各自治体では大幅な制度や保育料の改正がありました。今回は、23区で初めて、第二子の保育料無料化に踏み切った港区さんにお話を伺ってきました。他の自治体よりも圧倒的に早く改定料金が発表された、驚くべき理由とは・・・？">
	<% end %>

	<% content_for :title do %>
		<title>Vol.3 23区初！圧倒的なスピードで「“第二子保育料”無料」にふみきった港区の推進力に迫る</title>
	<% end %>

	<%= render 'layouts/header_nav' %>


<div class="bread">

    <div class="container">

      <div class="row">
 
        <div class="col-md-12">

            <ol class="breadcrumb">
              <li><a href="/">社会保障ドットコム</a></li>
              <li class="active"><a href="/article/">特集</a></li>
              <li class="active"><a href="/article/003_minatokuinterview_1">Vol.3 23区初！圧倒的なスピードで「第二子以降無料化」にふみきった港区の推進力に迫る</a></li>
            </ol>

        </div>

      </div>

    </div>

</div>