<div class="jumbotron2">

    <div class="container">

      <div>
<!--         <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>   -->      


        <div class="col-md-12">

<h1>社会保障ドットコム・トピックス<span class="search"></span></h1>
        </div>
<!--       <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>    -->     
      </div>

    </div>

</div>


 </div>

  

