	<% content_for :meta_contents do %>
		<meta name="keywords" content="社会保障ドットコム,子ども子育て支援新制度,出産,育児,子育て,金銭的支援,保育料23区比較">
		<meta name="description" content="今年4月から子育て支援新制度がスタートし、さまざまな自治体で保育料の見直しが行われました。今回の制度改革によって、どのような選択をすることで、保育料をよりお得に、低価格におさえることができるのでしょうか。

">
		<meta property="og:title" content="社会保障ドットコム|Vol.5 年収・子供の年齢ごとに違う! 東京23区保育料を徹底比較!">
		<meta property="og:image" content="http://www.syakaihosyou.com/assets/ogi_syakaihosyou_vol4.png">
		<meta property="og:url" content="http://www.syakaihosyou.com/article/005_tokyo23hoikuryo_1">
		<meta property="og:description" content="今年4月から子育て支援新制度がスタートし、さまざまな自治体で保育料の見直しが行われました。今回の制度改革によって、どのような選択をすることで、保育料をよりお得に、低価格におさえることができるのでしょうか。

">
	<% end %>

	<% content_for :title do %>
		<title>Vol.5 年収・子供の年齢ごとに違う! 東京23区保育料を徹底比較!</title>
	<% end %>

	<%= render 'layouts/header_nav' %>


<div class="bread">

    <div class="container">

      <div class="row">
 
        <div class="col-md-12">

            <ol class="breadcrumb">
              <li><a href="/">社会保障ドットコム</a></li>
              <li class="active"><a href="/article/">特集</a></li>
              <li class="active"><a href="/article/005_tokyo23hoikuryo_1">Vol.5 年収・子供の年齢ごとに違う! 東京23区保育料を徹底比較!</a></li>
            </ol>

        </div>

      </div>

    </div>

</div>