	<% content_for :meta_contents do %>
		<meta name="keywords" content="社会保障ドットコム,社会保障.com,子ども子育て支援新制度,出産,育児,子育て,金銭的支援">
		<meta name="description" content="出産、保育、医療…子どもが産まれると、とかく費用がかかるもの。こうしたお金に関する負担を少しでも軽くするために、各自治体が様々な金銭的支援を用意しています。自分が住んでいる地域のサービスをしっかり把握し、賢く活用していきましょう。">
		<meta property="og:title" content="社会保障ドットコム|東京23区待機児童数ランキング 2014">
		<meta property="og:image" content="http://www.syakaihosyou.com/assets/b001_taikijidoranking.jpg">
		<meta property="og:url" content="http://www.syakaihosyou.com/datavisual/001_taikijidoranking">
		<meta property="og:description" content="出産、保育、医療…子どもが産まれると、とかく費用がかかるもの。こうしたお金に関する負担を少しでも軽くするために、各自治体が様々な金銭的支援を用意しています。自分が住んでいる地域のサービスをしっかり把握し、賢く活用していきましょう。">
	<% end %>

	<% content_for :title do %>
		<title>東京23区待機児童数ランキング 2014</title>
	<% end %>

	<%= render 'layouts/header_nav' %>
	<%= render 'layouts/header_mini' %>


<div class="bread">

    <div class="container">

      <div class="row">
 
        <div class="col-md-12">

            <ol class="breadcrumb">
              <li><a href="/">社会保障ドットコム</a></li>
              <li class="active"><a href="/datavisual/">ビジュアルで見る「社会保障」</a></li>
              <li class="active"><a href="/datavisual/001_taikijidoranking">東京23区待機児童数ランキング 2014</a></li>
            </ol>

        </div>

      </div>

    </div>

</div>