	<% content_for :meta_contents do %>
		<meta name="keywords" content="社会保障ドットコム,社会保障.com,子ども子育て支援新制度,出産,育児,子育て,金銭的支援">
		<meta name="description" content="平成27年4月施行の「子ども・子育て支援新制度」に伴い、改正された、標準時間11時間を基本に保育料を掲載しています。年収や第一子、第二子の違いなどで、保育料は大きく変わります。">
		<meta property="og:title" content="社会保障ドットコム|東京23区 区立認可保育園 年収別月額保育料 一覧 (2015年)">
		<meta property="og:image" content="http://www.syakaihosyou.com/assets/ogi_syakaihosyou_003_tokyo23hoikuryo.png">
		<meta property="og:url" content="http://www.syakaihosyou.com/datavisual/003_tokyo23hoikuryo">
		<meta property="og:description" content="平成27年4月施行の「子ども・子育て支援新制度」に伴い、改正された、標準時間11時間を基本に保育料を掲載しています。">
	<% end %>

	<% content_for :title do %>
		<title>東京23区 区立認可保育園 年収別月額保育料 一覧 (2015年)</title>
	<% end %>

	<%= render 'layouts/header_nav' %>
	


<div class="bread">

    <div class="container">

      <div class="row">
 
        <div class="col-md-12">

            <ol class="breadcrumb">
              <li><a href="/">社会保障ドットコム</a></li>
              <li class="active"><a href="/datavisual/">ビジュアルで見る「社会保障」</a></li>
              <li class="active"><a href="/datavisual/002_ikuji23kuhikaku">東京23区 区立認可保育園 年収別月額保育料 一覧 (2015年)</a></li>
            </ol>

        </div>

      </div>

    </div>

</div>