	<% content_for :meta_contents do %>
		<meta name="keywords" content="社会保障ドットコム,社会保障.com,子ども子育て支援新制度,出産,育児,子育て,金銭的支援">
		<meta name="description" content="出産、保育、医療…子どもが産まれると、とかく費用がかかるもの。こうしたお金に関する負担を少しでも軽くするために、各自治体が様々な金銭的支援を用意しています。自分が住んでいる地域のサービスをしっかり把握し、賢く活用していきましょう。">
		<meta property="og:title" content="社会保障ドットコム|Vol.2 出産・育児に優しい金銭的支援23区比較">
		<meta property="og:image" content="http://www.syakaihosyou.com/assets/article_vol1.png">
		<meta property="og:image" content="http://www.syakaihosyou.com/assets/article_vol1_1.png">
		<meta property="og:image" content="http://www.syakaihosyou.com/assets/article_vol1_2.png">
		<meta property="og:image" content="http://www.syakaihosyou.com/assets/article_vol1_3.png">
		<meta property="og:image" content="http://www.syakaihosyou.com/assets/article_vol1_4.png">
		<meta property="og:image" content="http://www.syakaihosyou.com/assets/article_vol1_5.png">
		<meta property="og:image" content="http://www.syakaihosyou.com/assets/article_vol1_6.png">
		<meta property="og:url" content="http://www.syakaihosyou.com/article/001_kodomokosodate_1">
		<meta property="og:description" content="出産、保育、医療…子どもが産まれると、とかく費用がかかるもの。こうしたお金に関する負担を少しでも軽くするために、各自治体が様々な金銭的支援を用意しています。自分が住んでいる地域のサービスをしっかり把握し、賢く活用していきましょう。">
	<% end %>

	<% content_for :title do %>
		<title>Vol.2 出産・育児に優しい金銭的支援23区比較 2015年版</title>
	<% end %>

	<%= render 'layouts/header_nav' %>



<div class="bread">

    <div class="container">

      <div class="row">
 
        <div class="col-md-12">

            <ol class="breadcrumb">
              <li><a href="/">社会保障ドットコム</a></li>
              <li class="active"><a href="/article/">特集</a></li>
              <li class="active"><a href="/article/002_ikuji23kuhikaku_1">Vol.2 出産・育児に優しい金銭的支援23区比較 2015年版</a></li>
            </ol>

        </div>

      </div>

    </div>

</div>