	<% content_for :meta_contents do %>
		<meta name="keywords" content="社会保障ドットコム,子ども子育て支援新制度,出産,育児,子育て,金銭的支援,保育料,杉並区,保育園ふやし隊@杉並">
		<meta name="description" content="5月15日、杉並区役所にて待機児童の解消を求める異議申し立てがおこなわれました。声をあげたのは、杉並区に住む小さな子どもを持つお母さんたちのグループ「保育園ふやし隊@杉並」。2年前から保育園増設に向けた運動を続ける彼女たちに、保活の現状をうかがいました。

">
		<meta property="og:title" content="社会保障ドットコム|Vol.4 新制度後、保活の現状はどう変わった？「保育園ふやし隊@杉並」インタビュー">
		<meta property="og:image" content="http://www.syakaihosyou.com/assets/ogi_syakaihosyou_vol4.png">
		<meta property="og:url" content="http://www.syakaihosyou.com/004_suginamifuyashitai_1">
		<meta property="og:description" content="5月15日、杉並区役所にて待機児童の解消を求める異議申し立てがおこなわれました。声をあげたのは、杉並区に住む小さな子どもを持つお母さんたちのグループ「保育園ふやし隊@杉並」。2年前から保育園増設に向けた運動を続ける彼女たちに、保活の現状をうかがいました。

">
	<% end %>

	<% content_for :title do %>
		<title>Vol.4 新制度後、保活の現状はどう変わった？「保育園ふやし隊@杉並」インタビュー</title>
	<% end %>

	<%= render 'layouts/header_nav' %>


<div class="bread">

    <div class="container">

      <div class="row">
 
        <div class="col-md-12">

            <ol class="breadcrumb">
              <li><a href="/">社会保障ドットコム</a></li>
              <li class="active"><a href="/article/">特集</a></li>
              <li class="active"><a href="/article/004_suginamifuyashitai_1">Vol.4 新制度後、保活の現状はどう変わった？「保育園ふやし隊@杉並」インタビュー</a></li>
            </ol>

        </div>

      </div>

    </div>

</div>