	<% content_for :meta_contents do %>
		<meta name="keywords" content="社会保障ドットコム,社会保障.com,子ども子育て支援新制度,待機児童,子ども園,保育園,幼稚園,入園,事故報告,補助金,認可保育園">
		<meta name="description" content="2015年4月より開始される「子ども・子育て支援新制度」。待機児童問題、少子化・核家族化の進行など子育てに関わる課題を解決するための制度ですが、導入が近づくにつれ、そこにはさまざまな落とし穴があることが分かってきました。">
		<meta property="og:title" content="社会保障ドットコム|Vol.1 子ども・子育て支援「新」制度の問題">
		<meta property="og:image" content="http://www.syakaihosyou.com/assets/article_vol1.png">
		<meta property="og:image" content="http://www.syakaihosyou.com/assets/article_vol1_1.png">
		<meta property="og:image" content="http://www.syakaihosyou.com/assets/article_vol1_2.png">
		<meta property="og:image" content="http://www.syakaihosyou.com/assets/article_vol1_3.png">
		<meta property="og:image" content="http://www.syakaihosyou.com/assets/article_vol1_4.png">
		<meta property="og:image" content="http://www.syakaihosyou.com/assets/article_vol1_5.png">
		<meta property="og:image" content="http://www.syakaihosyou.com/assets/article_vol1_6.png">
		<meta property="og:url" content="http://www.syakaihosyou.com/article/001_kodomokosodate_1">
		<meta property="og:description" content="2015年4月より開始される「子ども・子育て支援新制度」。待機児童問題、少子化・核家族化の進行など子育てに関わる課題を解決するための制度ですが、導入が近づくにつれ、そこにはさまざまな落とし穴があることが分かってきました。">
	<% end %>

	<% content_for :title do %>
		<title>社会保障ドットコム|Vol.1 子ども・子育て支援「新」制度の問題</title>
	<% end %>

	<%= render 'layouts/header_nav' %>



<div class="bread">

    <div class="container">

      <div class="row">
 
        <div class="col-md-12">

            <ol class="breadcrumb">
              <li><a href="/">社会保障ドットコム</a></li>
              <li class="active"><a href="/article/">特集</a></li>
              <li class="active"><a href="/article/001_kodomokosodate_1">Vol.1 子ども・子育て支援「新」制度の問題</a></li>
            </ol>

        </div>

      </div>

    </div>

</div>