<div class="container" >
    <div class="row">
			<div class="col-lg-4" style="background-color: pink;">
	        	<h1>東京の社会保障を検索</h1>
	        	<%= form_tag do %>
  					Form contents
				<% end %>
	        </div>

		
        <div class="col-lg-4">
        	東京の社会保障を検索
        </div>
        <div class="col-lg-4">
        	東京の社会保障を検索
        </div>
    </div>
    
</div>
