<div class="row">
	<div class="col-lg-8">
		<strong>シーン</strong>
		<% @scenes.each do |scene| %>
			<br/>
			<%= link_to scene, action: 'search_by_scene',  selected_scene: scene %> 

		<% end %>

	</div>
</div>