<span class="sns-facebook">
	<!-- facebook -->
	<div class="fb-like"  data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
</span>
<span class="sns-twitter">
	<!-- twitter -->
	<a data-url="" data-hashtags"社会保障ドットコム"  data-count="none" class="twitter-share-button" href="https://twitter.com/share" data-dnt="true">ツイート</a>
</span>